<odoo>
    <menuitem id="estate_menu_root" name="Estate Application" sequence="0">
        <menuitem id="estate_master_data_menu" name="Master Data">
            <menuitem 
                id="estate_property_menu_action" 
                action="estate_property_action"
            /> 
            <menuitem 
                id="estate_property_type_menu_action" 
                action="estate_property_type_action"
            />
            <menuitem 
                id="estate_property_offer_menu_action" 
                action="estate_property_offer_action"
            />
            <menuitem 
                id="estate_property_tag_menu_action" 
                action="estate_property_tag_action"
            />
        </menuitem>
        <menuitem id="api_menu" name="API Configurations">
            <menuitem 
                id="api_user_token_menu_action" 
                action="users_token_action"
            /> 
        </menuitem>        
    </menuitem>
</odoo>